@import './palette';

$primary_color: $paris_daisy;
$primary_dark_color: $almost_black;

$header_bg: $primary_color;

$plane_bg: $white;
$plane_fg: $alice_blue;
$plane_text_color: $primary_dark_color;

$highlighted_bg: $primary_dark_color;
$highlighted_text_color: $alice_blue;